@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";

* {
  font-family: "Outfit", sans-serif;
}

::-webkit-scrollbar{
    display: none;
}
.your-bg-class {
  background-image: url('/bgImage.svg'); /* ✅ this works from public folder */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
